<%- include('../partials/header') %>
<section class="section">
  <div class="container">
    <div class="card">
      <h1>Access denied</h1>
      <p>You do not have permission to view this page.</p>
      <a class="button primary" href="/">Back home</a>
    </div>
  </div>
</section>
<%- include('../partials/footer') %>
